*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[co]
*.py[cod]
*.so
*.spec
*/.DS_Store
*~
.DS_Store
._.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.idea
*/.idea
_pycache__/
build/
*.npy
.vscode/
*.tar.gz
